.main_wrapper {
    display: flex;
    

    .left_sidebar {
        width: 279px;

        .sidebar_title {

            font-size: 20px;
            color: #F86D0C;
        }
        .sidebar_title::after {
            content: '';
            width: 255px;
            height: 2px; 
            margin-top: 8px;
            margin-bottom: 16px;
            border-bottom: 1px solid #F85908;
            display: block;
        }

        

        
    }

    .rightbar {
        width: 1200px;
        .searchrow_wrapper {
            margin-bottom: 32px;
            display: flex;
            justify-content: space-between;

            
            .searchbar_wrapper {
                display: flex;
                justify-content: space-between;
                width: 514px;

                .searchbar {
                    margin-right: 16px;
                    padding: 10px;
                    width: 350px;
                    border-radius: 30px;
                   
                    border: 1px solid gray;

                    .img_search {
                        width: 14px;
                        height: 14px;
                        padding-left: 16px;
                        margin-right: 8px;
                    }

                    .input_search_bar {
                        font-size: 16px;
                        border: 0;
                    }
                    .input_search_bar:focus {
                       outline: none;
                       border-bottom: 1px solid orange;
                    }
                }

                .rate_wrapper {
                    display: flex;
                    align-items: center;
                    width: 148px;
                    border: 1px solid gray;
                    border-radius: 30px;
                    padding: 8px 15px;
                    
                    .img_rate {
                        margin-right: 8px;
                        width: 22px;
                        height: 22px;
                    }

                    .rate_text {
                        color: #A7A7A7;
                    }
                }

               
            }

            .change_view {
                width: 92px;

                .btn_wrapper {
                    display: flex;

                .btn_tile {

                    width: 38px;
                    height: 38px;
                    border-radius: 25px;
                   background-color: #F85908;
                   margin-right: 16px;
                   
                   

                    .tile_img {
                        padding: 9px;
                    }
                

                  
                }

                .btn_list {
                    
                    width: 38px;
                    height: 38px;
                    border-radius: 25px;
                    border: 1px solid gray;
                    
                   
                   

                    .list_img {
                        padding: 9px;
                    }
                
                }
                }

            } 
        }
    }

    .book_list_wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        .card_wrapper {
            text-align: center;
            border-radius: 12px;
            width: 200px;
            box-shadow:  0 0 5px rgba(0,0,0,.2);
            margin-bottom: 24px;

            .img_wrapper {
                padding: 8px;

                img {
                    width: 175px;
                    height: 243px;
                }
            }
            .title_book {
                width: 174px;
                font-weight: 600px;
                font-size: 14px;
                line-height: 18px;
                margin-bottom: 17px;
            }

            .author_wrapper {
                margin-bottom: 28px;
                
                .author_name {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18px;
                    color: #727272;
                }
                .year_book {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18px;
                    color: #727272;
                }
            }

            .added_book {
                width: 166px;
                height: 40px;
                background-color: #F85908;
                color: white;
                border: 0;
                border-radius: 20px;
                margin-bottom: 16px;
            }

        }
        

    }
}