.term_of_use_list {


    .term_of_use_item {
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
    }
    .term_of_use_item:first-child {
        margin-bottom: 42px;
    }
}